@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl !important;
}
h2 {
  @apply text-xl !important;
}
h3 {
  @apply text-lg !important;
}
a {
  @apply text-blue-600 underline;
}
pre {
  @apply bg-black text-white
  p-4
  text-xl
  rounded break-words;
}
.btn {
  @apply bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full;
}

.formElements {
  @apply flex flex-row items-center justify-between my-2;
}

a,
.link {
  @apply text-blue-700 hover:text-blue-600 hover:underline;
}

.activeBtn {
  @apply bg-blue-700 text-white hover:bg-blue-500;
}

.disabledBtn {
  @apply bg-slate-500 text-white hover:bg-gray-700;
}

.activeIcon {
  @apply text-blue-500 hover:text-blue-700;
}

.disabledIcon {
  @apply text-gray-500 hover:text-gray-700;
}

.chat-btn {
  width: auto;
  height: auto;
  background-color: #62cfc1;
  border-radius: 4px;
  position: relative;
}
button:disabled,
button[disabled],
button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
/* .ql-container.ql-snow {
  border: none !important;
}

.quill-editor iframe {
  pointer-events: none;
} */

/* .ql-editor .td-video .td-align-left:after {
  content: '\ \21E4';
} */
/* .ql-editor .td-video .td-align-center:after {
  content: '\ \2194';
  position: relative;
  left: -2px;
  top: -1px;
} */
/* .ql-editor .td-video .td-align-right:after {
  content: '\ \21E5';
} */
